<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body
  class="flex flex-col min-h-screen text-cyan-100 font-share-tech antialiased{{ if (.Site.Params.appearance.use_stripes | default true) }} geek-stripes-bg{{ end }}{{ if .Site.Params.appearance.disable_animations }} no-animations{{ end }}"
  style="background-color: {{ .Site.Params.appearance.bg_color | default "#0f1021" }};">
    {{ partial "header.html" . }}
    <main
      class="flex-1 grow mx-auto w-full max-w-5xl px-4 sm:px-8 pt-6 sm:pt-12">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
