{{ define "main" }}
<div class="cnt-main">

  <h1 class="relative z-10 font-vt323 text-3xl md:text-4xl text-center uppercase tracking-widest mb-2 text-cyan-300 drop-shadow-[0_0_16px_#00ffe7]">
    #{{ .Title }}
  </h1>

  {{/*  Subtitle with localized items count  */}}
  <div class="text-center text-cyan-200 font-mono mb-8 opacity-80">
    {{ $count := len .Pages }}
    {{ $vars := dict "Count" $count "Title" .Title }}
    <span class="inline-block">
      {{ i18n "tag_page_summary" $vars | safeHTML }}
    </span>
  </div>

  {{/*  Posts with tag  */}}
  <div class="relative z-10 grid gap-10">
    {{ range .Pages }}
      {{ .Render "summary" }}
    {{ else }}
      <div class="text-center text-cyan-400">{{ i18n "no_articles_found" }}</div>
    {{ end }}
  </div>
  
</div>
{{ end }}
